header {
    width: 100%;
    height: 100vh;
    background-image: url('/img/header-bg.svg');
    background-size: cover;
    background-position: bottom;

    nav {
        padding: 20px 0;
        background: #D3CBC5;

        .container {
            @include flex(row, space-between, center, 0);
        }

        .logo {
            a{
                @include flex(row, center, center, 6);
                font-family: 'Oswald';
                font-size: 16px;
                line-height: 60px;
                letter-spacing: 0.035em;
                color: #555555;
            }
        }

        .menu ul {
            @include flex(row, space-between, center, 44);

            a {
                color: $pr-color;
                transition: 1s;
                &:hover {
                    text-decoration: underline;
                }
            }

            li:first-child {
                a {
                    text-decoration: underline;
                }
            }
        }

        .options {
            @include flex(row, center, center, 27);

            .cart {
                position: relative;

                .indicator {
                    position: absolute;
                    @include flex(row, center, center, 0);
                    width: 8px;
                    height: 8px;
                    background: #781414;
                    font-weight: 300;
                    font-size: 6px;
                    color: #FFF;
                    border-radius: 50%;
                    top: -4px;
                    right: -4px;
                }
            }
        }
    }

    .banner {
        padding: 156px 0 277px;

        .container {
            padding: 50px 0 10px 42px;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                width: 292px;
                height: 1px;
                background: #6B6C71;
                top: 28px;
                left: 0;
            }
            &::after{
                content: '';
                position: absolute;
                width: 261px;
                height: 1px;
                background: #6B6C71;
                top: 0;
                left: 24px;
                rotate: 90deg;
                transform-origin: bottom left;
            }
            p {
                font-weight: 400;
                font-size: 16px;
                color: #2C314B;
                margin-bottom: 7px;
            }

            h1 {
                font-weight: 600;
                font-size: 50px;
                color: $pr-color;
                max-width: 361px;
                margin-bottom: 20px;
                line-height: 1;
            }

            h2 {
                font-weight: 400;
                font-size: 24px;
                color: #121211;
                margin-bottom: 30px;
                span {
                    color: #878787;
                    font-size: 16px;
                }
            }

            a {
                transition: .3s;
                background: $pr-color;
                @extend %pr-btn;
                @include flex(row, center, center, 0);
                max-width: 116px;
                font-size: 14px;
                &:hover{
                    color: #000;
                    background: transparent;
                    border: 1px solid;
                }
            }
        }
    }   
}