.top-pr {
    padding: 106px 0 111px;

    .head {
        @include flex(row, space-between, center, 0);
        margin-bottom: 31px;

        .main {
            p {
                font-weight: 400;
                font-size: 16px;
                color: #9A6437;
                @include flex(row, start, center, 10);
                margin-bottom: 21px;
                @extend %before;
            }

            h1 {
                font-weight: 400;
                font-size: 42px;
                color: $pr-color;
            }
        }

        a {
            @extend %pr-btn;
            color: $pr-color;
            @include flex(row, start, center, 0);
            &:hover{
                color: #fff;
                background: #000;
                transition: .3s;
            }
        }
    }

    .prs {
        @include flex(row, center, center, 30);
        flex-wrap: wrap;

        .pr {
            width: calc((100% / 4) - (90px / 4));
            margin-bottom: 9px;

            .pr-img {
                width: 100%;
                height: 241px;
                padding: 64px 76px 31px;
                background: #F7F7F7;
            }

            .options {
                width: 100%;
                padding: 9px 84px;
                background: $pr-color;
                @include flex(row, center, center, 20)
            }

            .price {
                h2 {
                    margin-top: 6px;
                    margin-bottom: 9px;
                    font-weight: 600;
                    font-size: 18px;
                    color: #282828;
                }

                .more {
                    @include flex(row, space-between, center, 0);

                    h3 {
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 28px;

                        span {
                            color: #737373;
                            text-decoration: line-through;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}